<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bike Share World!</title>
  </head>
  <body>
    <a href="/conditions">Go Back</a>
    <form action="/conditions/<%= @condition.id %>" method="post">
      <input type="hidden" name="_method" value="PUT" />
      <input name='condition[this_date]' value="<%= @condition.this_date %>"/><br/>
      <input name='condition[max_temperature_f]' value="<%= @condition.max_temperature_f %>"</input><br/>
      <input name='condition[mean_temperature_f]' value="<%= @condition.mean_temperature_f %>"</input><br/>
      <input name='condition[min_temperature_f]' value="<%= @condition.min_temperature_f %>"</input><br/>
      <input name='condition[mean_humidity]' value="<%= @condition.mean_humidity %>"</input><br/>
      <input name='condition[mean_visibility_miles]' value="<%= @condition.mean_visibility_miles %>"</input><br/>
      <input name='condition[mean_wind_speed_mph]' value="<%= @condition.mean_wind_speed_mph %>"</input><br/>
      <input name='condition[precipitation_inches]' value="<%= @condition.precipitation_inches %>"</input><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
