<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="station-style.css"/>
    <title></title>
  </head>
  <body>
    <h1>Conditions</h1>
    <%@conditions.each do |condition|%>
    <div class="stations_holder">
      <a href="/conditions/<%= condition.id %>"><h3><%= condition.id %></h3></a>
      <h4><%= condition.id %></h4>
      <h3><%= condition.this_date %></h3>
      <h3><%= condition.max_temperature_f %></h3>
      <h3><%= condition.mean_temperature_f %></h3>
      <h3><%= condition.min_temperature_f %></h3>
      <h3><%= condition.mean_humidity %></h3>
      <h3><%= condition.mean_visibility_miles %></h3>
      <h3><%= condition.mean_wind_speed_mph %></h3>
      <h3><%= condition.precipitation_inches %></h3>
      <form action="/conditions/<%= condition.id%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
    </div>
    <% end %>
    <h4><%= will_paginate @pages %></h4>
  </body>
</html>
