<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="station-style.css"/>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Trips</h1>
    <a href="/"><h2>Home</h2></a>
    <a href="/trips/new"><h2>Add Trip</h2></a>
    <a href="/trip-dashboard"><h2>Trip Analytics</h2></a>
    <%@trips.each do |trip|%>
    <div class="stations_holder">
      <a href="/trips/<%= trip.id %>"><%= trip.id %></a>
      <h3>Duration: </h3><p><%= trip.duration %></p>
      <h3>Start station: </h3><p><%= trip.start_station_name %></p>
      <h3>End station: </h3><p><%= trip.end_station_name %></p>
      <form action="/trips/<%= trip.id%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
    </div>
    <% end %>
    <h3><%= will_paginate @pages %></h3>
  </body>
</html>
