<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="dash-style.css"/>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@trips.each do |trip|%>
      <h3><%= trip.start_station_name %></h3>
      <h3><%= trip.duration %></h3>
      <h3><%= trip.start_date %></h3>
      <h3><%= trip.end_date %></h3>
      <h3><%= trip.end_station_name %></h3>
      <h3><%= trip.bike_id %></h3>
      <h3><%= trip.subscription_type %></h3>
      <h3><%= trip.zip_code %></h3>
      <form action="/trips/<%= trip.id%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
    <% end %>
    <h3><%= will_paginate @pages %></h3>
  </body>
</html>
