<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../dash-style.css"/>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= @trip.id %></h2>
    <div class="contain">
    <h3>Duration: </h3><p><%= @trip.duration %></p>
    <h3>Start station: </h3><p><%= @trip.start_station_name %></p>
    <h3>End station: </h3><p><%= @trip.end_station_name %></p>
    <form action="/trips/<%= @trip.id%>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
  </div>
  <div class ="footer">
    <a href="/trips">Go Back</a> ||
    <a href="/trips/new">Add station</a>
  </div>
  </body>
</html>
